<h2>General settings</h2>

<div class="design-tokens-ui-setting design-tokens-ui-labelled-input">
  <label class="design-tokens-ui-settings-label">Background color:</label>
  <design-tokens-ui-color-picker
    #baseColorPicker
    [color]="_baseColor$ | async"
  ></design-tokens-ui-color-picker>
</div>

<design-tokens-ui-shared-generation-settings
  [options]="_globalGenerationOptions$ | async"
  (optionsChange)="_globalGenerationOptions = $event"
></design-tokens-ui-shared-generation-settings>

<h3>Curves</h3>

<design-tokens-ui-easing-settings
  [options]="_globalGenerationOptions$ | async"
  (optionsChange)="_globalGenerationOptions = $event"
>
</design-tokens-ui-easing-settings>
